body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a{
    text-decoration: none;
    cursor: pointer;
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .header-nav-section{
    font-size: 13px;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    width: 250px;
    align-items: center;
}
header nav .header-nav-section a{
    margin-right: 15px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
nav .header-nav-section .material-icons{
    margin-left: 10px;
}
nav .header-nav-section .yo{
    border-radius: 50%;
    margin-left: 3px;
    margin-right: -18px;
}
main{
    text-align: center;
    margin-top: 150px;
}
main .main-logo{
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 20px;
}
main .main-searchBar{
    width: 584px;
    margin: 0 auto;
    margin-bottom: 35px;
}
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-18 { font-size: 18px; }
main .main-searchBar-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 584px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
}
main .main-searchBar input{
    width: 487px;
    height: 40px;
    border: none;
    outline: none;
}
main .main-searchBar-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color:  #20212500;
}
main .main-searchBar .search-icon  {
   padding: 0 auto;
    height: 18px;
    width: 18px;

}
main .main-searchBar .mic-icon{
    height: 24px;
    width: 24px;
    background-image: url(https://i.pinimg.com/originals/ea/5f/5b/ea5f5bd3b4110f2afb958049b4096d3a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
main .main-buttons{
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    background-color: #f8f9fa;
    border: 1px solid transparent;
    outline: none;
    height: 34px;
    padding: 0 16px;
    color: #3c4043;
    border-radius: 5px;
    margin: 0 15px;
}
main .main-buttons button:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    color: #222;
}

/*.items{
    display: flex;
    align-items: center;
    height: 32px;
}
.items a {
margin: 0 9px;
padding: 0;
}
.items-text{
    text-decoration: none;
    color: #1d1d1d;
    text-transform: capitalize;
    font-size: 10pt;
}
.items-text:hover{
    text-decoration:underline #303030;
}
.icons{
    height: 33px;
    display: inherit;
    align-items: inherit;
    
}
.icons a{
    height: 32px;
    border-radius: 32px;
    overflow: hidden;
}
.icons a:hover{
    height: 32px;
    border-radius: 32px;
    border: 0px solid transparent;
    background-color: #d7d8d9;
    overflow: hidden;
}
.padi {
    padding: 8.5px
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#div1{
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: inherit;
}
.search-bar input{
    border: 1px solid #dadce0;
    background-image:url(/images/lupa.svg) ;
    background-repeat: no-repeat;
    background-attachment;
    background-size:14px 14px ;
    background-position-x: 16px;
    background-position-y: 16px;
    border-radius: 30px;
    height: 46px;
    width: 584px;
    margin: 15px 10px 14px 10px;
}
.buttons{
    display: flex;
}
.button1 , 
.button2 {
    border-radius: 5px;
    margin: 10px;
    border: 1px solid #fcf6f6;

}
.button1 input, 
.button2 input{
    border-radius: 5px;
    background-color: #f8f9fa;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 14px;
    color: #202124;
    border: 1px  #fcf6f6;
    border-style: dashed;
}
.button1:hover, 
.button2:hover{
    border-radius: 5px;
    background-color: #fcf6f6;
    border: 1px solid #797878;
    color: #797878;
    
}

.search p{
    font-family: inherit;
    font-size: 13px;
}
.search a{
    text-decoration: none;
}
*/
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
}
footer .country1{
    background-color: #f2f2f2;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    height: 47px;
    border: 1px solid transparent;
    border-bottom: 1px solid #dadce0;
}
footer p a{
    padding: 15px 30px;
    text-decoration: none;
    color: #70757a;
}
footer .country:hover{
    padding: 15px 30px;
    text-decoration: underline;
    color: #70757a;
}
.footer{
    
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
footer ul{
    margin: 0;
    padding: 15px 15px;
}
.footer li {
    margin: 0;
    display: inline-block;
    align-items: inherit;
}
footer ul a{
    padding: 15px 15px;
    text-decoration: none;
    color: #70757a;
}
footer ul a:hover{
    text-decoration: underline;
    color: #70757a;
}
footer .footer-right{
    justify-self: right;
}
footer .footer-left{
    justify-self: left;
}
